<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Add new field</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Add new project field</h2>
    <form action="#" th:action="@{/admin/add-field}" method="post" class="mc-form" th:object="${field}">
        <label for="fieldName">Name</label>
        <input type="text" id="fieldName" placeholder="projectField" th:field="*{name}">
        <label for="fieldDescription">Description</label>
        <textarea id="fieldDescription" rows="8" th:field="*{description}"></textarea>
        <button type="submit">Add</button>
    </form>
</main>
</body>
</html>