<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Creator page</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <p class="notification-bar" th:if="${notification}" th:text="${notification}">
        Notification
    </p>
    <h2 class="list-heading">Creator panel</h2>

    <h2 class="list-heading" th:text="${heading}">Promoted projects</h2>
    <!-- Opis pobieramy z modelu -->

    <p class="list-description" th:text="${description}">Opis sekcji, przykładowy</p>
    <ul class="list-border">
        <li><a href="#" th:href="@{/creator/add-commission}">Add commission</a></li>
    </ul>
</main>
</body>
</html>