<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h2 class="list-heading" th:text="${heading}">Commission list</h2>
        <p class="list-description" th:text="${description}"></p>


        <div th:if="${pageName != null && (pageName == '/creator-commissions' || pageName == '/employer-commissions' || pageName == '/commissions/search')}">
        <form th:action="@{/commissions/search}" method="get">
                <label for="field">Search by Field:</label>
                <select id="field" name="fieldId" style="color: black;">
                    <option value="" hidden>Choose field</option>
                    <option th:each="field: ${fields}" th:value="${field.id}" th:text="${field.name}"></option>
                </select>
            <br>or<br>
                <label for="timeNeeded">Search by days needed:</label>
                <input type="text" id="timeNeeded" name="timeNeeded" placeholder="Enter number of days"
                       style="color: black;">
                <br>or<br>
                <label for="pricingTo">Search by max price:</label>
                <input type="text" id="pricingTo" name="pricingTo" placeholder="Enter price you are willing to pay"
                       style="color: black;">
            <br>or<br>
                <label for="keyword">Search by word</label>
                <input type="text" id="keyword" name="keyword" placeholder="Enter keyword" style="color: black;">
            <br>
                <button type="submit" style="background-color: black; color:white;">Search</button>
            </form>
       </div>

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Creator</th>
                <th>Field</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="commission : ${commissions}">
                <td><a th:href="@{|/commission/${commission.id}|}" th:text="${commission.name}"></a></td>
                <td><a th:href="@{|/creator/${commission.user}|}" th:text="${commission.user}"></a></td>
                <td><a th:href="@{|/field/${commission.field}|}" th:text="${commission.field}"></a></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>