<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add project</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Add project</h2>
    <form action="#" th:action="@{/admin/add-project}" method="post" enctype="multipart/form-data" class="mc-form" th:object="${project}">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Example name" th:field="*{name}">

        <select id="field" required th:field="*{field}">
            <option value="" hidden>Choose field</option>
            <option th:each="field: ${field}" th:value="${field.name}" th:text="${field.name}"></option>
        </select>


         <div sec:authorize="hasAnyRole('CREATOR')">
             <input type="hidden" th:field="*{user}" th:value="${project.user}" />
        </div>


        <select id="user" th:field="*{user}" required sec:authorize="hasAnyRole('ADMIN')">
            <option value=""hidden>Choose user</option>
            <option th:each="user: ${user}" th:value="${user.name}" th:text="${user.name}"></option>
        </select>



        <label for="promoted" sec:authorize="hasAnyRole('ADMIN')">Promoted?</label>
        <input id="promoted" type="checkbox" th:field="*{promoted}" sec:authorize="hasAnyRole('ADMIN')">

        <label for="description" >Description</label>
        <textarea id="description"  rows="6" th:field="*{description}"></textarea>

        <label for="youtubeId">Youtube movie link</label>
        <input type="text" id="youtubeId" placeholder="youtube link" th:field="*{youtubeId}">

        <label for="projectPic">Project Picture</label>
        <input type="file" id="projectPic" th:field="*{projectPic}" accept="image/png, image/jpeg">

        <button type="submit">Add</button>
    </form>
</main>
</body>
</html>