<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CreativityMarket</title>
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <!-- Dynamicznie budowany adres do skryptu JS i arkusza stylów -->
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>

<body>
    <div class="container">
        <ul class="menu">
            <li class="menu-logo-container">
                <!-- Dynamicznie budowany adres do strony głównej -->
                <a href="#" th:href="@{/}">
                    <i class="fa-solid fa-palette"></i> CreativityMarket
                </a>
            </li>
            <li class="menu-toggle">
                <a href="#"><i id="toggle-icon" class="fa-solid fa-square-plus"></i></a>
            </li>
            <li class="menu-item">
                <a href="#">Field of work</a>
            </li>

            <li class="menu-item">
                <a href="#">Top 10 projects</a>
            </li>

            <li class="menu-item">
                <a href="#">Top 10 employers</a>
            </li>

            <li class="menu-item">
                <a href="#">Log In</a>
            </li>
        </ul>
        <header class="MojaDigital">
            <h1 class="MojaDigital-header">CreativityMarket</h1>
            <p class="MojaDigital-description">
                Welcome to CreativityMarket, we'll help you find freelancers for your job
            </p>
        </header>
        <main class="main-content">
            <!--Nagłówek pobierany z modelu-->
            <h2 class="list-heading" th:text="${heading}">Promoted projects</h2>
            <!-- Opis pobieramy z modelu -->
            <p class="list-description" th:text="${description}">Opis sekcji, przykładowy</p>
            <!-- Zostawiamy tylko pierwszy element <li> -->
            <ul class="project-list" th:remove="all-but-first">
                <!-- Pętla po wszystkich projektach z modelu -->


                <li class="project-list-item" th:each="project: ${projects}">
                    <!-- Link do strony pojedynczego projektu typu /project/5 -->

                    <a href="#" th:href="@{|/project/${project.id}|}">
                        <!-- Po uruchomieniu aplikacji ścieżka do placeholdera plakatu wygląda nieco inaczej -->
                        <img src="../static/img/poster-placeholder.png"
                             th:src="@{/img/poster-placeholder.png}"
                             alt="Project name"
                             class="project-list-item-poster">
                    </a>
                    <div class="project-list-item-card">
                        <div class="project-list-item-content">
                            <h3 class="project-list-item-title">
                                <a href="#" th:href="@{|/project/${project.id}|}" th:text="${project.name}">Project name</a>
                            </h3>
                            <h4>
                                <a href="#" th:href="@{|/project/${project.id}|}" th:text="${project.creator}">Creator</a>
                            </h4>
                        </div>
                        <div class="project-list-item-rating">
                            <i class="fas fa-star"></i>
                            <span>8.0</span>
                        </div>
                    </div>
                </li>
                <li class="project-list-item">
                    <a href="#">
                        <img src="../static/img/poster-placeholder.png"
                             alt ="Project title"
                             class="project-list-item-image">
                    </a>
                    <div class="project-list-item-card">
                        <div class="project-list-item-content">
                            <h3 class="project-list-item-title">
                                <a href="#">Project name</a>
                            </h3>
                            <h4>
                                <a href="#">Creator</a>
                            </h4>
                        </div>
                        <div class="project-list-item-rating">
                            <i class="fas fa-star"></i>
                            <span>8.1</span>
                        </div>
                    </div>
                </li>
                <li class="project-list-item">
                    <a href="#">
                        <img src="../static/img/poster-placeholder.png"
                             alt ="Project title"
                             class="project-list-item-image">
                    </a>
                    <div class="project-list-item-card">
                        <div class="project-list-item-content">
                            <h3 class="project-list-item-title">
                                <a href="#">Project name</a>
                            </h3>
                            <h4>
                                <a href="#">Creator</a>
                            </h4>
                        </div>
                        <div class="project-list-item-rating">
                            <i class="fas fa-star"></i>
                            <span>8.3</span>
                        </div>
                    </div>
                </li>
            </ul>
        </main>
        <footer class="footer">
            <p>CreativityMarket 2022 <i class="fas fa-copyright"></i> Wojciech Wilk </p>
        </footer>
    </div>
</body>
</html>