<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="|${project.name} - CreativityMarket|">Project name - CreativityMarket</title>
</head>

<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <section class="project">
            <div class="project-summary">
                <img src="../static/img/poster-placeholder.png"
                     alt="project name"
                     class="project-summary-cover"
                />
            </div>
        <div class="project-summary-info">
            <h1 class="project-summary-title" th:text="${project.name}">Project name</h1>
            <p class="project-summary-item">Field: <a href="#"
            th:href="@{|/field/${project.field}|}"
            th:text="${project.field}"></a>
            </p>

            <p class="project-summary-item">Creator: <a href="#"
            th:href="@{|/creator/${project.user}|}"
            th:text="${project.user}"></a></p>

            <p class="project-summary-item" th:text="${project.description}">
            What project is about.
            </p>

        </div>

            <div class="project-rating-container project-section">
                <h2 class="project-section">Rating</h2>
                <!-- Jeżeli nie oddano żadnego głosu -->
                <p th:unless="${project.ratingCount}">No votes</p>
                <!-- Jeżeli oddano głos -->
                <div th:if="${project.ratingCount}">
                    <!-- Zaokrąglamy ocenę do 1 miejsca przed i po przecinku -->
                    <p class="project-rating-value" th:text="${#numbers.formatDecimal(project.avgRating, 1, 1)}">4.0</p>
                    <p th:text="|Based on: ${project.ratingCount} ratings|">: 134</p>
                </div>
                <!-- Dodajemy th:action, formularz wyświetlamy tylko zalogowanemu użytkownikowi -->
                <form action="#" th:action="@{/rate-project}" method="post"
                      sec:authorize="isAuthenticated()"
                      class="project-rating-form">
                    <!-- Identyfikator filmu, na który głosujemy-->
                    <p>Do you like it ?</p>
                    <input type="hidden" name="projectId" th:value="${project.id}">
                    <div class="project-rating-buttons">
                        <!-- Generujemy 5 gwiazdek w pętli -->
                        <button class="project-rating-button"
                                name="rating"
                                th:each="i: ${#numbers.sequence(1, 5)}"
                                th:value="${i}">
                            <!-- Pełną i pustą gwiazdkę rozróżniamy dodając odpowiednią klasę na podstawie głosu użytkownika -->
                            <i class="fa-star" th:classappend="${i <= userRating ? 'fa-solid' : 'fa-regular'}"></i>
                        </button>
                    </div>
                </form>
                <!-- Link do logowania wyświetlamy tylko wtedy, gdy użytkownik nie jest zalogowany -->
                <p sec:authorize="!isAuthenticated()">
                    <a href="#" th:href="@{/login}">Log in!</a>
            </div>
            <div th:if="${userEmail} == ${#authentication.name}">
                <button type="button" sec:authorize="isAuthenticated()">
                    <a th:href="@{|/creator/edit-project/${project.id}|}">Edit</a>
                </button>
            </div>
            <div th:if="${userEmail} == ${#authentication.name}">
                <button type="button" sec:authorize="isAuthenticated()">
                    <a th:href="@{|/creator/delete-project/${project.id}|}">Delete</a>
                </button>
            </div>

            <form th:action="@{/add-to-favorites}" method="post">
                <input type="hidden" name="projectId" th:value="${project.id}"/>
                <button type="submit" sec:authorize="isAuthenticated()">Add to favorites</button>
            </form>





        </section>

        <section class="project-project-container project-section">
            <h2 class="project-section-heading">Project trailer</h2>
            <iframe width="560" height="315" class="project-trailer"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0"
                    th:src="|https://www.youtube.com/embed/${project.youtubeId}|"
                    allow="autoplay:encrypted-media" allowfullscreen></iframe>
        </section>
    </main>
    <footer class="footer">
        <p>CreativityMarket 2022 <i class="fas fa-copyright"></i> Wojciech Wilk </p>
    </footer>
</div>
</body>
</html>