<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>

<body>
  <main class="main-content" layout:fragment="content">
    <form action="#" th:action="@{/registration}" method="post" class="mc-form" th:object="${user}">
      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Email" th:field="*{email}">
      <label for="name">Username</label>
      <input id="name" type="text" placeholder="Username" th:field="*{name}">
      <label for="password">Password</label>
      <input id="password" placeholder="password" type="password" th:field="*{password}">
      <label for="isEmployer">
        <input type="radio" id="isEmployer" name="userType" value="employer" required checked>
        Are you looking for professional help with your project and want to post a job offer? Become an EMPLOYER
      </label>

      <label for="isCreator">
        <input type="radio" id="isCreator" name="userType" value="creator" required>
        Are you looking for a platform to publish your profile and find job offer or advertise yourself? Become a CREATOR
      </label>
      <button type="submit">Register</button>
    </form>
  </main>
</body>
</html>