<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Creator panel</title>
</head>
<body>
<div class="container">
<main class="main-content" layout:fragment="content">
    <p class="notification-bar" th:if="${notification}" th:text="${notification}">
        Notification
    </p>

    <h2 class="list-heading">Creator page</h2>

    <h2 class="list-heading" th:text="${heading}">Promoted projects</h2>
    <!-- Opis pobieramy z modelu -->
    <p class="list-description" th:text="${description}">Opis sekcji, przykładowy</p>
    <ul class="list-border">
        <li th:if="${name != null}">
            <a href="#" th:href="@{|/creator/${name}/project-list|}">Projects list</a>
        </li>
        <li  th:if="${name == null}">
            <a href="#" th:href="@{|/creator/project-list|}">Projects list</a>
        </li>
        <li th:if="${name != null}">
        <a href="#" th:href="@{|/creator/${name}/commission-list|}">Commissions list</a>
        </li>
        <li  th:if="${name == null}">
            <a href="#" th:href="@{|/creator/commission-list|}">Commission list</a>
        </li>
    </ul>

    <div th:if="${user.getEmail()} != ${#authentication.name}">
        <form th:action="@{/add-to-favorite-users}" method="post">
            <input type="hidden" name="favoriteUserEmail" th:value="${user.getEmail()}"/>
            <button type="submit" sec:authorize="isAuthenticated()">Add to favorites</button>
        </form>
    </div>

</main>
    </div>
</body>
</html>